<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Samuel Souza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Olá, meu nome é Samuel Souza, sou aluno do curso
    de Engenharia de Software da Universidade Filadélfia e este é um dos meus projetos, 
    Samuca Cine.">
    <meta name="keywords" content="Samuel Souza, Samuca Cie, Samuca">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Samuca Cine - Sobre</title>
</head>

<body>
    <header>
        <div id="header-1">
            <div class="header-item" id="seleciona-tipo">
                <i id="menu" class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                <div id="itens-selecionar">
                    <a id="item1selecionar" class="texto-selecionar" href="/sobre">Sobre</a>
                    <a id="item2selecionar" class="texto-selecionar" href="/filmes">Filmes</a>
                    <a id="item3selecionar" class="texto-selecionar" href="/series">Séries</a>
                    <a id="item4selecionar" class="texto-selecionar" href="/populares">Populares</a>
                    <a id="item5selecionar" class="texto-selecionar" href="/lancamentos">Lançamentos</a>
                </div>
            </div>

            <a href="/"><img class="header-item" id="logo" src="/img/logo.png" alt="Samuca Cine"></a>

            <div class="header-item" id="links-header">
                <a class="texto-header" href="/sobre">Sobre</a>
                <a class="texto-header" href="/filmes">Filmes</a>
                <a class="texto-header" href="/series">Séries</a>
                <a class="texto-header" href="/populares">Populares</a>
                <a class="texto-header" href="/lancamentos">Lançamentos</a>
            </div>

            <div class="header-item" id="social-header">
                <a target="_blank" rel="noopener" class="social-header" href="https://www.instagram.com/samuca.io/"><img class="social-img"
                        src="/img/social/instagram.png" alt="Instagram"></a>
                <a target="_blank" rel="noopener" class="social-header" href="https://www.linkedin.com/in/devsamuel/overlay/about-this-profile/"><img class="social-img"
                        src="/img/social/linkedin.png" alt="Linkedin"></a>
                <a target="_blank" rel="noopener" class="social-header" href="https://github.com/devsamuelsouza"><img
                        class="social-img" src="/img/social/github.png" alt="Github"></a>
            </div>

        </div>


    </header>
    <main id="main">
        <h1>Sobre Samuel Souza</h1>
        <p class="texto-ola">Olá! Sou Samuel Souza, estudante de Engenharia de Software, e desenvolvi o Samuca Cine como
            um projeto pessoal para expandir meu portfólio e colocar em prática as habilidades adquiridas ao longo da
            minha jornada acadêmica.
        </p>

        <p class="texto-ola">
            O Samuca Cine é um catálogo interativo de filmes, desenvolvido utilizando tecnologias como HTML, CSS,
            JavaScript, e Node.js. Para garantir informações ricas e atualizadas, integrei a API do The Movie Database
            (TMDB), permitindo que o catálogo ofereça detalhes precisos sobre uma vasta coleção de filmes.

        </p>
        <p class="texto-ola">Este projeto foi pensado para demonstrar minha capacidade de desenvolver aplicações
            completas e responsivas, utilizando APIs externas de forma eficiente. Cada detalhe foi cuidadosamente
            planejado para proporcionar uma experiência funcional e intuitiva para o usuário.</p>

        <p class="texto-ola">O Samuca Cine é mais do que um simples catálogo. Ele representa o esforço e dedicação
            investidos em construir algo do zero e colocá-lo em funcionamento. Espero que você goste de explorar o
            projeto tanto quanto gostei de desenvolvê-lo!
            <br>
            Se quiser saber mais sobre mim ou sobre o projeto, fique à vontade para entrar em contato.
        </p>
    </main>
    <footer>
        <div id="footer2"></div>

        <div id="footer2-icons">
            <a target="_blank" rel=”noopener” href="https://github.com/devsamuca"><img class="footer2-icon"
                    src="/img/social/github.png" alt="Github"></a>
            <a target="_blank" rel=”noopener” href="https://www.instagram.com/samuca.io"><img class="footer2-icon"
                    src="/img/social/instagram.png" alt="Instagram"></a>
            <a target="_blank" rel=”noopener” href="https://www.linkedin.com/in/devsamuel/"><img class="footer2-icon"
                    src="/img/social/linkedin.png" alt="Linkedin"></a>
            <a target="_blank" rel=”noopener” href="https://www.youtube.com/@iosamuca"><img class="footer2-icon"
                    src="/img/social/youtube.png" alt="Youtube"></a>
            <a target="_blank" rel=”noopener” href="https://open.spotify.com/user/31vw57cbppfuqfi2mgy3fjgr53eu"><img
                    class="footer2-icon" src="/img/social/spotify.png" alt="Spotify"></a>
            <a target="_blank" rel=”noopener” href="https://x.com/samucaioo"><img class="footer2-icon"
                    src="/img/social/x.png" alt="X"></a>
            <a target="_blank" rel=”noopener” href="https://discord.gg/jETY8m2n6g"><img class="footer2-icon"
                    src="/img/social/discordi.png" alt="Discord"></a>
        </div>

        </div>
        <div id="footer3">
            <p id="copyright" class="footer-titulo">©Copyright 2024. Desenvolvido por Samuel Souza. &#127801</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/f59b0f7f02.js" crossorigin="anonymous"></script>
    <script src="js/js.js"></script>
</body>

</html>
