@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Poiret+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", serif;
    font-weight: 600;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
}

#header-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#header-2 {
    margin-top: 3em;
}

#header-2 h1,
p {
    text-align: center;
    margin: 1em 0;
}

.header-item {
    margin: 1em;
}

#links-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#itens-selecionar {
    position: relative;
    display: none;
    z-index: 99999;
}

#seleciona-tipo {
    display: none;
}

.texto-selecionar {
    position: absolute;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

#item1selecionar {
    margin: 2em 0;
    color: #000000;
    background-color: #ffffff;
    padding: 2em;
    width: 100px;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.1);
        color: #000000;
        background-color: #ffffff;
    }
}

#item2selecionar {
    margin: 6em 0;
    color: #000000;
    background-color: #ffffff;
    padding: 2em;
    width: 100px;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.1);
        color: #000000;
        background-color: #ffffff;
    }
}

#item3selecionar {
    margin: 10em 0;
    color: #000000;
    background-color: #ffffff;
    padding: 2em;
    width: 100px;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.1);
        color: #000000;
        background-color: #ffffff;
    }
}

.language {
    max-height: 1em;
    margin-right: 0.3em;
}

#item4selecionar {
    margin: 14em 0;
    color: #000000;
    background-color: #ffffff;
    padding: 2em;
    width: 100px;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.1);
        color: #000000;
    }
}

#item5selecionar {
    margin: 18em 0;
    color: #000000;
    background-color: #ffffff;
    padding: 2em;
    width: 100px;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.1);
        color: #000000;
    }
}

#section-assistir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section-assistir h1{
    text-align: center;
    margin-top: 3em;
}

#assistir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.assistir {
    max-height: 1.5em;
    margin: 0 1em;
    transition: transform 0.2s ease-in;
}

.assistir:hover {
    transform: translateY(-10px);
}

#logo {
    max-height: 3em;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }
}

.texto-header {
    text-decoration: none;
    color: #ffffff;
    margin: 1em;
    font-size: 1.1em;
    padding: 1em;
    transition: transform ease-in 0.2s;

    &:hover {
        background-color: #ffffff;
        color: #000000;
        transform: translateY(-10px);
    }
}

.social-img {
    height: 1.2em;
    margin: 0 0.2em;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: translateY(-10px);
    }
}

.social-header {
    margin: 0 0.2em;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.texto-ola{
    color: #ababab;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 65vh;
    margin: none;
}

#main p{
    max-width: 50vw;
    text-align: justify;
}

#maininfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-main {
    margin: 2em 0;
    text-align: center;
}

#contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

#erro404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#deadpool {
    margin: 0 1em;
    max-height: 15em;
    color: #ff0000;
}

#link-voltar {
    text-decoration: none;
    padding: 1.4em;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 0.5em;
    transition: transform 0.2s ease-in;
    margin: 2em 0;
}

#poster-filmeserie {
    margin-right: 2em;
}

#poster-img {
    max-height: 33em;
    padding: 0.2em;
    border-radius: 1em;
    transition: transform 0.2s ease-in;
}

#poster-img:hover {
    transform: scale(1.1);
}

#main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
}

#sobre-filmeserie {
    max-width: 30vw;
}

#sobre-filmeserie h1 {
    font-size: 4em;
    text-align: left;

}

#sobre-filmeserie p {
    margin: 3em 0;
    text-align: left;

}

#link-voltar:hover {
    background-color: #c70000;
    transform: scale(1.1);
}

#paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#paginas a {
    text-decoration: none;
    margin: 1em;
    color: #c70000;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

.filmes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5em 0;
}

.img-filmes {
    max-width: 100%;
    border-radius: 1em;
    transition: filter 0.2s ease-in, transform 0.2s ease-in, opacity 0.2s ease-in;
    display: flex;
}

.link-info-filme {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-weight: bold;
}

.info-filme {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, border 0.2s ease-in;
    color: #ffffff;
}

.link-info:hover .info-filme {
    opacity: 1;
    border: 1px solid #ffffff;
    background-color: #00000059;
    border-radius: 1em;
}

.info-filme p {
    font-size: 1em;
    margin: 5px 0;
}

.link-info:hover .img-filmes {
    opacity: 0.5;
    filter: blur(5px);
}

.nome-filme {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

footer {
    margin-top: 2em;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-titulo {
    font-size: 1em;
    margin: 1em 0;
}

.opacity {
    opacity: 0;
    -webkit-user-select: none;
    user-select: none;
    margin: 0.3em;

    &:hover {
        cursor: default;
    }
}


#footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100vw;
    margin: 1em;
}

#footer2-icons {
    display: flex;
    flex-wrap: wrap;
}

.footer2-icon {
    max-height: 1em;
    margin: 0.5em;
    transition: transform ease-in 0.1;

    &:hover {
        transform: scale(1.1);
    }
}

#footer3 {
    min-width: 100vw;
    padding: 0.5em;
}

#copyright {
    text-align: center;
    font-size: 0.8em;
}

@media screen and (max-width: 800px) {
    .nome-filme {
        font-size: 0.8em;
    }

    .info-filme {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .link-info-filme {
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #assistir {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .assistir {
        max-height: 3em;
        border-radius: 0.3em;
        margin: 0 1em;
        transition: transform 0.2s ease-in;
    }

    #main p{
        max-width: 90vw;
    }

    #main-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        min-width: 100vw;
    }

    #poster-filmeserie {
        margin-right: 0;
    }

    .link-info:hover .img-filmes {
        opacity: 1;
        filter: blur(0);
        transform: scale(1.1);
    }

    #header-2 p {
        display: none;
    }

    #links-header {
        display: none;
    }

    .social-header {
        display: none;
    }

    #seleciona-tipo {
        display: inline;

        &:hover {
            cursor: pointer;
        }
    }

    #menu {
        max-height: 2em;
        transition: transform ease-in 0.01s;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.8);
        }
    }

    #sobre-filmeserie h1 {
        font-size: 3em;
        text-align: center;
    }

    #sobre-filmeserie p {
        margin: 3em 0;
        text-align: center;
    }


    #sobre-filmeserie {
        max-width: 90vw;
    }

    .footer1-element {
        margin: 1em;
    }

    #footer-logo {
        max-height: 2em;
    }


    #poster-img {
        max-height: 20em;
        padding: 0.2em;
    }

    #footer2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-width: 20vw;
        margin: 1em;
    }

    #footer1 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20vw;
    }
}